extends layout 
 
block content 
  h1= title 
 
  form(id='YogurtForm', action="/resource/Yogurts", method="POST", class='c') 
    div(class='d').form-group
        img(src='/images/apple.jpg' width="300px" height="300px")
    div.form-group 
        label.YogurtAttr(for='Yogurt_flavours') Yogurt flavours
        input#Yogurt_flavours(type='text', name='Yogurt_flavours') 
    div.form-group 
        label.YogurtAttr(for='Yogurt_price') Yogurt price
        input#Yogurt_price(type='number', name='Yogurt_price') 
    div.form-group 
        label.YogurtAttr(for='Yogurt_quantity') Yogurt quantity
        input#Yogurt_quantity(type='number', name='Yogurt_quantity') 
    input(type="submit") 
 
  script. 
    document.forms['YogurtForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });